.col {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 1em 0;
  border: 1px solid white;
  padding: 1em 2em;
  border-radius: 10px;
}

.col > svg {
  margin: 0.5em 0;
}

.container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 5em;
  textalign: center;
}
